%h1 Listing articles

%table
  %tr
    %th Title
    %th Cached slug
    %th Content
    %th Author
    %th Category
    %th
    %th
    %th

  - @articles.each do |article|
    %tr
      %td= article.title
      %td= article.cached_slug
      %td= article.content
      %td= article.author_id
      %td= article.category_id
      %td= link_to 'Show', article
%br
